<div class="container">
    <h2 classv="mb-5">
        @if(afiliado){
        Editar Afiliado
        }@else{
        Nuevo Afiliado
        }
    </h2>
    <div class="row row-cols-7 justify-content-center">
        @if(form){
        <div>
            @if(errors.length){
            <div class="alert alert-danger">
                <ul>
                    @for (error of errors; track error) {
                    <li>{{error}}</li>
                    }
                </ul>
            </div>
            }
            <form [formGroup]="form" (submit)="save()">


                <div class="col-md-2 mb-1">
                    <label for="tipo_documento" class="form-label">TIPO DOCUMENTOS</label>
                    <select id="tipo_documento" class="form-control" formControlName="tipo_documento"
                        [class.is-invalid]="form.get('tipo_documento')?.invalid && form.get('tipo_documento')?.touched"
                        [class.is-valid]="form.get('tipo_documento')?.valid">
                        <option value="CC">Cédula de ciudadanía</option>
                        <option value="CE">Cédula de extranjería</option>
                        <option value="TI">Tarjeta de identidad</option>
                        <option value="CD">Carnet diplomático</option>
                        <option value="PA">Pasaporte</option>
                    </select>
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    <div class="invalid-feedback d-block">
                        @if(form.get('tipo_documento')?.hasError('required') &&
                        form.get('tipo_documento')?.touched){
                        <p class="invalid-feedback d-block">Este Campo es Obligatorio</p>
                        }
                    </div>
                </div>

                <div class="col-md-2 mb-1">
                    <label for="numero_identificacion" class="form-label">NÚMERO IDENTIFICACIÓN</label>
                    <input id="numero_identificacion" type="text" placeholder="Número Identificación"
                        class="form-control" formControlName="numero_identificacion"
                        [class.is-invalid]="form.get('numero_identificacion')?.invalid && form.get('numero_identificacion')?.touched"
                        [class.is-valid]="form.get('numero_identificacion')?.valid">
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    @if (form.get('numero_identificacion')?.invalid && form.get('numero_identificacion')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if (form.get('numero_identificacion')?.hasError('required')) {
                        <p>El Número Identificación es Obligatorio</p>
                        }
                        @if (form.get('numero_identificacion')?.hasError('maxlength')) {
                        <p>El Número Identificación debe tener un máximo de 16 dígitos</p>
                        }
                        @if (form.get('numero_identificacion')?.hasError('pattern')) {
                        <p>El Número Identificación debe contener solo números</p>
                        }
                    </div>
                    }
                </div>

                <div class="col-md-5 mb-1">
                    <label for="primer_apellido" class="form-label">PRIMER APELLIDO</label>
                    <input id="primer_apellido" type="text" placeholder="Primer Apellido" class="form-control"
                        formControlName="primer_apellido"
                        [class.is-invalid]="form.get('primer_apellido')?.invalid && form.get('primer_apellido')?.touched"
                        [class.is-valid]="form.get('primer_apellido')?.valid" style="text-transform: uppercase;">
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    <div class="invalid-feedback d-block">@if(form.get('primer_apellido')?.hasError('required') &&
                        form.get('primer_apellido')?.touched){
                        <p class="invalid-feedback d-block"> El Primer Nombre es Obligatorio</p>
                        }
                    </div>
                </div>

                <div class="col-md-5 mb-1">
                    <label for="segundo_apellido" class="form-label">SEGUNDO APELLIDO</label>
                    <input id="segundo_apellido" type="text" placeholder="Segundo Apellido" class="form-control"
                        formControlName="segundo_apellido"
                        [class.is-invalid]="form.get('segundo_apellido')?.invalid && form.get('segundo_apellido')?.touched"
                        [class.is-valid]="form.get('segundo_apellido')?.valid" style="text-transform: uppercase;">
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->

                </div>


                <div class="col-md-5 mb-1">
                    <label for="primer_nombre" class="form-label">PRIMER NOMBRE</label>
                    <input id="primer_nombre" type="text" placeholder="Primer Nombre" class="form-control"
                        formControlName="primer_nombre"
                        [class.is-invalid]="form.get('primer_nombre')?.invalid && form.get('primer_nombre')?.touched"
                        [class.is-valid]="form.get('primer_nombre')?.valid" style="text-transform: uppercase;">
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    <div class="invalid-feedback d-block">@if(form.get('primer_nombre')?.hasError('required') &&
                        form.get('primer_nombre')?.touched){
                        <p class="invalid-feedback d-block"> El Primer Nombre es Obligatorio</p>
                        }
                    </div>
                </div>

                <div class="col-md-5 mb-1">
                    <label for="segundo_nombre" class="form-label">SEGUNDO NOMBRE</label>
                    <input id="segundo_nombre" type="text" placeholder="Segundo Nombre" class="form-control"
                        formControlName="segundo_nombre"
                        [class.is-invalid]="form.get('segundo_nombre')?.invalid && form.get('segundo_nombre')?.touched"
                        [class.is-valid]="form.get('segundo_nombre')?.valid" style="text-transform: uppercase;">
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->

                </div>







                <div class="col-md-2 mb-1">
                    <label for="fecha_nacimiento" class="form-label">FECHA NACIMIENTO</label>
                    <input id="fecha_nacimiento" type="date" class="form-control" formControlName="fecha_nacimiento"
                        [class.is-invalid]="form.get('fecha_nacimiento')?.invalid && form.get('fecha_nacimiento')?.touched"
                        [class.is-valid]="form.get('fecha_nacimiento')?.valid && form.get('fecha_nacimiento')?.touched">

                    <!-- Mensaje de feedback de éxito -->
                    @if (form.get('fecha_nacimiento')?.valid && form.get('fecha_nacimiento')?.touched) {
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    }

                    <!-- Mensajes de error para campo inválido -->
                    @if (form.get('fecha_nacimiento')?.invalid && form.get('fecha_nacimiento')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if (form.get('fecha_nacimiento')?.hasError('required')) {
                        <p>La Fecha de Nacimiento es obligatoria</p>
                        }
                        @if (form.get('fecha_nacimiento')?.hasError('invalidDate')) {
                        <p>La fecha de nacimiento no es válida</p>
                        }
                        @if (form.get('fecha_nacimiento')?.hasError('futureDate')) {
                        <p>La fecha de nacimiento no puede ser en el futuro</p>
                        }
                        @if (form.get('fecha_nacimiento')?.hasError('tooOld')) {
                        <p>La fecha de nacimiento no es realista (edad máxima 120 años)</p>
                        }
                    </div>
                    }
                </div>

                <div class="col-md-2 mb-1">
                    <label for="genero" class="form-label">GÉNERO</label>
                    <select id="genero" class="form-control" formControlName="genero"
                        [class.is-invalid]="form.get('genero')?.invalid && form.get('genero')?.touched"
                        [class.is-valid]="form.get('genero')?.valid">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    <div class="invalid-feedback d-block">
                        @if(form.get('genero')?.hasError('required') &&
                        form.get('genero')?.touched){
                        <p class="invalid-feedback d-block">Este Campo es Obligatorio</p>
                        }
                    </div>
                </div>







                <div class="col-md-2 mb-1">
                    <label for="codigo_municipio">CÓDIGO MUNICIPIO</label>
                    <input id="codigo_municipio" type="text" placeholder="Código Municipio" class="form-control"
                        formControlName="codigo_municipio"
                        [class.is-invalid]="form.get('codigo_municipio')?.invalid && form.get('codigo_municipio')?.touched"
                        [class.is-valid]="form.get('codigo_municipio')?.valid">
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    @if (form.get('codigo_municipio')?.invalid && form.get('codigo_municipio')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if(form.get('codigo_municipio')?.hasError('required')){
                        <p class="invalid-feedback d-block">El Código Municipio es Obligatorio</p>
                        }
                        @if (form.get('codigo_municipio')?.hasError('maxlength')) {
                        <p>El Codigo Municipio debe tener máximo de 5 dígitos</p>
                        }
                    </div>
                    }
                </div>


                <div class="col-md-2 mb-1">
                    <label for="indicador" class="form-label">INDICADOR</label>
                    <select id="indicador" class="form-control" formControlName="indicador"
                        [class.is-invalid]="form.get('indicador')?.invalid && form.get('indicador')?.touched"
                        [class.is-valid]="form.get('indicador')?.valid">
                        <option value="I">INGRESO</option>
                        <option value="A">ACTUALIZACIÓN</option>
                        <option value="E">ELIMINAR</option>
                    </select>
                    <!-- Mensaje de feedback de éxito -->
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    <div class="invalid-feedback d-block">
                        @if(form.get('indicador')?.hasError('required') &&
                        form.get('indicador')?.touched){
                        <p class="invalid-feedback d-block">Este Campo es Obligatorio</p>
                        }
                    </div>
                </div>


                <div class="col-md-2 mb-1">
                    <label for="telefono">TELÉFONO</label>
                    <input id="telefono" type="text" placeholder="Teléfono" class="form-control"
                        formControlName="telefono"
                        [class.is-invalid]="form.get('telefono')?.invalid && form.get('telefono')?.touched"
                        [class.is-valid]="form.get('telefono')?.valid">
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    @if (form.get('telefono')?.invalid && form.get('telefono')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if(form.get('telefono')?.hasError('required')){
                        <p class="invalid-feedback d-block">El Teléfono es Obligatorio</p>
                        }
                        @if (form.get('telefono')?.hasError('maxlength')) {
                        <p>El El Teléfono debe tener máximo de 22 Caracteres</p>
                        }
                    </div>
                    }
                </div>

                <div class="col-md-5 mb-1">
                    <label for="direccion">DIRECCIÓN</label>
                    <input id="direccion" type="text" placeholder="Dirección" class="form-control"
                        formControlName="direccion"
                        [class.is-invalid]="form.get('direccion')?.invalid && form.get('direccion')?.touched"
                        [class.is-valid]="form.get('direccion')?.valid" style="text-transform: uppercase;">
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    @if (form.get('direccion')?.invalid && form.get('direccion')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if(form.get('direccion')?.hasError('required')){
                        <p class="invalid-feedback d-block">La Dirección es Obligatorio</p>
                        }
                        @if (form.get('direccion')?.hasError('maxlength')) {
                        <p>La Dirección debe tener máximo de 200 Caracteres</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-md-4 mb-1">
                    <label for="email">EMAIL</label>
                    <input id="email" type="text" placeholder="Email" class="form-control" formControlName="email"
                        [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
                        [class.is-valid]="form.get('email')?.valid">
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    <!-- Mensaje de error para campo inválido -->
                    @if (form.get('email')?.invalid && form.get('email')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if(form.get('email')?.hasError('required')){
                        <p class="invalid-feedback d-block">El Correo es Obligatorio</p>
                        }
                        @if (form.get('email')?.hasError('maxlength')) {
                        <p>EL Correo debe tener máximo de 101 Caracteres</p>
                        }
                        @if (form.get('email')?.hasError('email')) {
                        <p>EL Correo no es válido</p>
                        }

                    </div>
                    }
                </div>



                <div class="col-md-2 mb-1">
                    <label for="fecha_ingreso" class="form-label">FECHA DE INGRESO</label>
                    <input id="fecha_ingreso" type="date" class="form-control" formControlName="fecha_ingreso"
                        [class.is-invalid]="form.get('fecha_ingreso')?.invalid && form.get('fecha_ingreso')?.touched"
                        [class.is-valid]="form.get('fecha_ingreso')?.valid && form.get('fecha_ingreso')?.touched">

                    <!-- Mensaje de feedback de éxito -->
                    @if (form.get('fecha_ingreso')?.valid && form.get('fecha_ingreso')?.touched) {
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    }

                    <!-- Mensajes de error para campo inválido -->
                    @if (form.get('fecha_ingreso')?.invalid && form.get('fecha_ingreso')?.touched) {
                    <div class="invalid-feedback d-block">
                        @if (form.get('fecha_ingreso')?.hasError('required')) {
                        <p>La Fecha ingreso es obligatoria</p>
                        }
                        @if (form.get('fecha_ingreso')?.hasError('invalidDate')) {
                        <p>La fecha de ingreso no es válida</p>
                        }
                        @if (form.get('fecha_ingreso')?.hasError('futureDate')) {
                        <p>La fecha de ingreso no puede ser en el futuro</p>
                        }
                        @if (form.get('fecha_ingreso')?.hasError('tooOld')) {
                        <p>La fecha de ingreso no es realista (edad máxima 120 años)</p>
                        }
                    </div>
                    }
                </div>


                <div class="col-md-2 mb-1">
                    <label for="fecha_retiro" class="form-label">FECHA DE RETIRO</label>
                    <input id="fecha_retiro" type="date" class="form-control" formControlName="fecha_retiro"
                        [class.is-invalid]="form.get('fecha_retiro')?.invalid && form.get('fecha_retiro')?.touched"
                        [class.is-valid]="form.get('fecha_retiro')?.valid && form.get('fecha_retiro')?.touched">
                                           <!-- Mensaje de feedback de éxito -->
                    @if (form.get('fecha_retiro')?.valid && form.get('fecha_retiro')?.touched) {
                    <div class="valid-feedback">
                        ¡Parece bien!
                    </div>
                    }
               
                    @if (form.get('fecha_retiro')?.invalid && form.get('fecha_retiro')?.touched) {
                        <div class="invalid-feedback d-block">
                         @if (form.get('fecha_retiro')?.hasError('invalidDate')) {
                            <p>La fecha de ingreso no es válida</p>
                            }
                            @if (form.get('fecha_retiro')?.hasError('futureDate')) {
                            <p>La fecha de ingreso no puede ser en el futuro</p>
                            }
                            @if (form.get('fecha_retiro')?.hasError('tooOld')) {
                            <p>La fecha de ingreso no es realista (edad máxima 120 años)</p>
                            }
                        </div>
                        }
                    </div>

                <div class="text-end">
                    <button type="button" class="btn btn-light" routerLink="/">Cancelar</button>
                    <button type="submit" [disabled]="form.invalid" class="btn btn-primary ms-2">
                        @if(afiliado){
                        Actualizar Afiliado
                        }@else{
                        Crear Afiliado
                        }
                    </button>
                </div>
            </form>
        </div>
        }
    </div>
</div>