<h2 class="mb-5">Mis Afiliados</h2>

<div class="text-end">
    <button class="btn btn-primary" routerLink="/new">Nuevo Contacto</button>
</div>


<table class="table table-hover table-striped">
    <thead>
        <tr class="table-primary">
            <th>ID</th>
            <th>T.DOCUMENTO</th>
            <th>N.IDENTIFICACIÓN</th>
            <th>PRIMER APELLIDO</th>
            <th>SEGUNDO APELLIDO</th>
            <th>PRIMER NOMBRE</th>
            <th>SEGUNDO NOMBRE</th>
            <th>FECHA NACIMIENTO</th>
            <th>GENERO</th>
            <th>CODIGO MUNICIPIO</th>
            <!-- <th>INDICADOR</th>
        <th>TELEFONO</th>
        <th>DIRECCION</th>
        <th>EMAIL</th>
        <th>FECHA DE INGRESO</th>
        <th>FECHA DE RETIRO</th> -->
            <th></th>

        </tr>
    </thead>
    <tbody>

        @for (afiliado of afiliados; track afiliado.id) {

        <tr>

            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.id}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.tipo_documento}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.numero_identificacion}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.primer_apellido}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.segundo_apellido}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.primer_nombre}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.segundo_nombre}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.fecha_nacimiento}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.genero}}</td>
            <td (click)="openDialog(afiliado)" style="cursor: pointer;">{{afiliado.codigo_municipio}}</td>
            <td class="text-end"></td>
            <!-- <th>{{afiliado.indicador}}</th>
        <th>{{afiliado.telefono}}</th>
        <th>{{afiliado.direccion}}</th>
        <th>{{afiliado.email}}</th>
        <th>{{afiliado.fecha_ingreso}}</th>
        <th>{{afiliado.fecha_retiro}}</th> -->
            <th>
                <div class="btn-group">
                    <button class="btn btn-primary" [routerLink]="['/afiliados', afiliado.id, 'editar']">Editar</button>
                    <button class="btn btn-danger" (click)="deleteAfiliado(afiliado)">Eliminar</button>
                </div>
            </th>




        </tr>

        }
    </tbody>
</table>