<nav aria-label="breadcrumb">
  <h1 class="project-header" >SIGAP</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/empresa',1,'editar']" routerLinkActive="active">Empresa</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/representante-legal',1,'editar']" routerLinkActive="active">Representante Legal</a></li>
    <!-- <li class="breadcrumb-item"><a routerLink="empresa" routerLinkActive="active">Empresa</a></li> -->
       <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
  </ol>
</nav>