<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">



      <!-- <div class="overlay" ></div> -->
      <div class="text">
        <div class="wrapper">
          <div id="S" class="letter">S</div>
          <div class="shadow">S</div>
        </div>
        <div class="wrapper">
          <div id="I" class="letter">I</div>
          <div class="shadow">I</div>
        </div>
        <div class="wrapper">
          <div id="G" class="letter">G</div>
          <div class="shadow">G</div>
        </div>
        <div class="wrapper">
          <div id="A" class="letter">A</div>
          <div class="shadow">A</div>
        </div>
        <div class="wrapper">
          <div id="P" class="letter">P</div>
          <div class="shadow">P</div>
        </div>

      </div>
    </a>

    <ul class="nav nav-pills">


      <li class="nav-item">
        <a routerLink="/" class="nav-link active" aria-current="page">
          <!-- SVG Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door"
            viewBox="0 0 16 16">
            <path
              d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z" />
          </svg>
          <!-- Text -->
          Home
        </a>
      </li>



      <li class="nav-item"><a [routerLink]="['/empresa',1,'editar']" routerLinkActive="active"
          class="nav-link">Empresa</a></li>
      <li class="nav-item"><a [routerLink]="['/representante-legal',1,'editar']" routerLinkActive="active"
          class="nav-link">Representante Legal</a></li>
      <li class="nav-item"><a [routerLink]="['/reserva-especial',1,'editar']" routerLinkActive="active"
          class="nav-link">Reserva Especial</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>