<h2 class="mb-5">
    @if(reservaEspecial){
    Editar Reserva Especial
    }@else{
    Nueva Reserva Especial
    }
</h2>
<div class="row row-cols-3 justify-content-center">
    @if(form){
    <div>
        @if(errors.length){
        <div class="alert alert-danger">
            <ul>
                @for (error of errors; track error) {
                <li>{{error}}</li>
                }
            </ul>
        </div>
        }

        <form [formGroup]="form" (submit)="save()">
            <div class="mb-3">
                <label for="tipo_identificacion">T. IDENTIFICACIÓN</label>
                <select id="tipo_identificacion" class="form-control" formControlName="tipo_identificacion">
                    <option value="NI">NIT</option>
                    <option value="CC">Cédula de ciudadanía</option>
                    <option value="CE">Cédula de extranjería</option>
                </select>
                @if(form.get('tipo_identificacion')?.hasError('required') && form.get('tipo_identificacion')?.touched){
                <p class="invalid-feedback d-block"> Este campo es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="tipo_persona">Tipo de Persona</label>
                <select id="tipo_persona" class="form-control" formControlName="tipo_persona">
                    <option value="1">Natural</option>
                    <option value="2">Jurídica</option>
                </select>
                @if(form.get('tipo_persona')?.hasError('required') && form.get('tipo_persona')?.touched){
                <p class="invalid-feedback d-block"> Este campo es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="numero_identificacion">NÚMERO DE IDENTIFICACIÓN</label>
                <input id="numero_identificacion" type="text" placeholder="Número de Identificación" class="form-control"
                    formControlName="numero_identificacion">
                @if(form.get('numero_identificacion')?.hasError('required') && form.get('numero_identificacion')?.touched){
                <p class="invalid-feedback d-block"> El Número de Identificación es obligatorio</p>
                }
            </div>

            <!-- Campo digito_verificacion -->
            <div class="mb-3">
                <label for="digito_verificacion">Dígito de Verificación</label>
                <input id="digito_verificacion" type="text" placeholder="Dígito de Verificación" class="form-control"
                    formControlName="digito_verificacion">
                @if(form.get('digito_verificacion')?.hasError('required') && form.get('digito_verificacion')?.touched){
                <p class="invalid-feedback d-block"> Este campo es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="razon_social">Razón Social</label>
                <input id="razon_social" type="text" placeholder="Razón Social" class="form-control"
                    formControlName="razon_social">
                @if(form.get('razon_social')?.hasError('required') && form.get('razon_social')?.touched){
                <p class="invalid-feedback d-block"> La Razón Social es obligatoria</p>
                }
            </div>


            <div class="mb-3">
                <label for="primer_apellido">PRIMER APELLIDO</label>
                <input id="primer_apellido" type="text" placeholder="Primer Apellido" class="form-control"
                    formControlName="primer_apellido">
                @if(form.get('primer_apellido')?.hasError('required') && form.get('primer_apellido')?.touched){
                <p class="invalid-feedback d-block"> El Primer Apellido es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="segundo_apellido">SEGUNDO APELLIDO</label>
                <input id="segundo_apellido" type="text" placeholder="Segundo Apellido" class="form-control"
                    formControlName="segundo_apellido">
                @if(form.get('segundo_apellido')?.hasError('required') && form.get('segundo_apellido')?.touched){
                <p class="invalid-feedback d-block"> El Segundo Apellido es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="primer_nombre">PRIMER NOMBRE</label>
                <input id="primer_nombre" type="text" placeholder="Primer Nombre" class="form-control"
                    formControlName="primer_nombre">
                @if(form.get('primer_nombre')?.hasError('required') && form.get('primer_nombre')?.touched){
                <p class="invalid-feedback d-block"> El Primer Nombre es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="segundo_nombre">SEGUNDO NOMBRE</label>
                <input id="segundo_nombre" type="text" placeholder="Segundo Nombre" class="form-control"
                    formControlName="segundo_nombre">
            </div>

            <div class="mb-3">
                <label for="tarjeta_profecional">Tarjeta Profesional</label>
                <input id="tarjeta_profecional" type="text" placeholder="Tarjeta Profesional" class="form-control"
                    formControlName="tarjeta_profecional">
                @if(form.get('tarjeta_profecional')?.hasError('required') && form.get('tarjeta_profecional')?.touched){
                <p class="invalid-feedback d-block"> Este campo es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="codigo_municipio">CÓDIGO MUNICIPIO</label>
                <input id="codigo_municipio" type="text" placeholder="Código Municipio" class="form-control"
                    formControlName="codigo_municipio">
                @if(form.get('codigo_municipio')?.hasError('required') && form.get('codigo_municipio')?.touched){
                <p class="invalid-feedback d-block"> El Código del Municipio es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="telefono">TELÉFONO</label>
                <input id="telefono" type="tel" placeholder="Teléfono" class="form-control" formControlName="telefono">
                @if(form.get('telefono')?.hasError('required') && form.get('telefono')?.touched){
                <p class="invalid-feedback d-block"> El Teléfono es obligatorio</p>
                }
            </div>

            <div class="mb-3">
                <label for="direccion">DIRECCIÓN</label>
                <input id="direccion" type="text" placeholder="Dirección" class="form-control"
                    formControlName="direccion">
                @if(form.get('direccion')?.hasError('required') && form.get('direccion')?.touched){
                <p class="invalid-feedback d-block"> La Dirección es obligatoria</p>
                }
            </div>

            <div class="mb-3">
                <label for="email">EMAIL</label>
                <input id="email" type="email" placeholder="Email" class="form-control" formControlName="email">
                @if(form.get('email')?.hasError('required') && form.get('email')?.touched){
                <p class="invalid-feedback d-block"> El Email es obligatorio</p>
                }
            </div>

            <div class="text-end">
                <button type="button" class="btn btn-light" routerLink="/">Cancelar</button>
                <button class="btn btn-primary ms-2">
                    @if(reservaEspecial){
                    Actualizar Reserva Especial
                    }@else{
                    Crear Reserva Especial
                    }
                </button>
            </div>
        </form>
    </div>
    }
</div>
