
<h2 mat-dialog-title>Detalles del Afiliado</h2>
<mat-dialog-content>
  @if (afiliado) {
    <div>
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>ID:</strong>{{ afiliado.id || 'ID no disponible' }}</p>
     
       <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Género:</strong> {{ afiliado.genero || 'Género no disponible' }}</p>

      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Indicador:</strong> {{ afiliado.indicador || 'Indicador no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Teléfono:</strong> {{ afiliado.telefono || 'Teléfono no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Dirección:</strong> {{ afiliado.direccion || 'Dirección no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Email:</strong> {{ afiliado.email || 'Email no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Tipo de Documento:</strong> {{ afiliado.tipo_documento || 'Tipo de documento no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Número de Identificación:</strong> {{ afiliado.numero_identificacion || 'Número de identificación no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Primer Apellido:</strong> {{ afiliado.primer_apellido || 'Primer apellido no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Segundo Apellido:</strong> {{ afiliado.segundo_apellido || 'Segundo apellido no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Primer Nombre:</strong> {{ afiliado.primer_nombre || 'Primer nombre no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Segundo Nombre:</strong> {{ afiliado.segundo_nombre || 'Segundo nombre no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Fecha de Nacimiento:</strong> {{ afiliado.fecha_nacimiento | date:'dd/MM/yyyy' || 'Fecha de nacimiento no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Código Municipio:</strong> {{ afiliado.codigo_municipio || 'Código municipio no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Fecha de Ingreso:</strong> {{ afiliado.fecha_ingreso | date:'dd/MM/yyyy' || 'Fecha de ingreso no disponible' }}</p>
      
      <p class="pb-1 mb-5 fst-italic border-bottom"><strong>Fecha de Retiro:</strong> {{ afiliado.fecha_retiro | date:'dd/MM/yyyy' || 'Fecha de retiro no disponible' }}</p>
    </div>
  } @else {
    <p>No se encontró información del afiliado.</p>
  }
  <button class="btn btn-primary" [routerLink]="['/afiliados', afiliado.id, 'editar']">Editar</button>
 
</mat-dialog-content>
